
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Titillium Web", sans-serif;
	color: #453333;
}


:root {
	--accent: #994815ed;
	--secondery:#1f194a;
	--dark: #453333;
	--gray: #999;
}


.container {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

#text-introducere {
	text-align: center;
	color: #994815ed;
	font-size: 72px;
	font-weight: 700;
}

h2 {
	text-align: center;
	font-size: 36px;
	font-weight: 500;
}

a {
	text-decoration: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #e1aa63d2;
	z-index: 10;
	align-items: center;
}
nav {
	display: flex;
	justify-content: center;
}
.menu_list {
list-style: none;
display: flex;
gap: 25px;
}
.menu_link {
	color: #faf4ee;
	font-style: 20px;
	font-family: "Roboto", sans-serif;
	transition: all 1s;
	cursor: pointer;
}
.menu_link:hover {
	text-decoration: underline;
}

/* shop cart --------------*/
.shoppingCart {
	width: 80px;
	/* img {
		width: 100%;
		height: auto;
	} */
	position: absolute;
	right: 100px;
	cursor: pointer;
}
.shoppingCartImg {
	width: 100%;
	height: auto;
}

.cartContent {
	/* display: none; */
	box-sizing: border-box;
	border-radius: 15px;
	width: 400px;
	padding: 20px;
	height: auto;
	max-height: 600px;
	background-color: var(--gray);
	position: absolute;
	left: 250px;
	transition: all 1s ease-in-out;
}
.cartContentVisible {
	left: -250px;
}
.shoppingCartElement {
	box-sizing: border-box;
	width: 90%;
	height: 100px;
	margin: 5px;
	padding: 10px;
	border-radius: 12px;
	background-color: #fff;
	display: flex;

}
.cartElementImage {
	height: 90%;
	width: auto;
}


/* ---------------------- */
.cutie {
	height: 700px;
	background-image: url(https://i.pinimg.com/originals/0b/57/70/0b57703adcc3e614a04efc97e1d515be.jpg);
	background-size: cover;

}
.overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	object-fit: cover;
	z-index: 4;
	background-color: #352a2a79;
}
.main_text {
	padding: 150px;
}
.text-center {
	text-align: center;
	font-size: 22px;
	justify-content: center;
}
.text-white {
	color: white;
}
.box {
	/* width: 250px; */
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	/* background-color: #dc7e037f; */
}


.services {
	width: 100vw;
   height: 250px;
	align-items: center;

}
.services_subtitle {
	font-style: 20px;
}
.services_lists {
display: flex;
justify-content: center;
gap: 40px;
}
.services_list {
list-style: none;
}
/* .services_items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 50px;
	gap: 35px; 
}  */

/* .services_item {
		/* align-items: center; */
		/* display: flex; */
		/* flex-direction: column; */
		/* gap: 25px; */
/* } */ 


#main_card {
	position: relative;
	background-color: #ba6900b9;
	left: 90%;
	top: 200px;
	width: 150px;
}
.card {
	position: relative;
	width: 300px; 
	height: 400px;
	background-color: #dc7e037f;
	border-radius: 12px;
	font-family: "Roboto", sans-serif;
	padding: 5px 10px;
	margin-bottom: 20px;
	z-index: 5;
	transition: all 1s;
}
.card:hover {
	background-color: #c7914ad3;
	width: 310px;
	height: 420px;

	transform: scale(110%);
}
.cards_mix {
	display: flex;
	justify-content: space-evenly;
	gap: 25px;
}
.cards_barbeq {
	display: flex;
	justify-content: space-evenly;
	gap: 25px;
}
.img_container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.img_card {
	width: min(60%, 200px);
	
}
.price_product {
	position: absolute;
	left: 20px;
	bottom: 20px;
	margin: 0;
}
.buy_button {
	position: absolute;
	right: 20px;
	bottom: 20px;

	width: 140px;
	height: 40px;
	background-color: #1f194a;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
.buy_button:active {
	background-color: #4639aa;
	color: white;
}
/* ---------------------------------------- */

/* COD NOU DOM */

.change_img_btn {
	border-radius: 12px;
	padding: 10px 20px;
	border: none;
	color: white;
	background-color: #4639aa;
	cursor: pointer;
}

.dark_mode {
	background-color: #453333;
	color: #faf4ee;
}

.exemple_insert {
	width: 400px;
	min-height: 200px;
	border: 2px solid black;
	padding: 10px;
	box-sizing: border-box;
}
.img_card_style {
	width: 200px;
}

/* -------------------------------------------- */
.back_to_top {
	width: 50px;
	height: 50px;
	background-color: #1f194a;
	border-radius: 50%;
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 10;
}

footer {
	height: 400px;
	width: 100vw;
	background-color: #1a1515;
	margin-top: 100px;
		box-sizing: border-box;
		padding: 50px;
		padding-bottom: 40px;
}
.content_footer {
	display: flex;
	justify-content: center;
}
.links_footer {
	width: 500px;
	padding: 30px;
	background-color: #f9dfc8;
}
.form_footer {
	width: 500px;
	padding: 30px;
	background-color: #f9dfc8;
}
.form_contact {
	box-sizing: border-box;
}
.form_contact_input {
	width: 80%;
	height: 30px;
	margin: 10px 0;
   border: none;
	padding-left: 15px;
}
.form_contact_input:invalid {
color: red;
}
.text_footer {
	display: flex;
	justify-content: end;
}

@media (max-width: 480px) {
	header {
   background: hsla(247, 49%, 19%, 0.771);
	}
   .price_product {
	font-size: 24px;
   }
}

@media (min-width: 481px) {

}

@media (min-width: 769px) {
	
}